/* Style de la modal */
.lightbox-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    margin-top: 0;
}

/* Style du contenu de la modal */
.lightbox-content {
    position: relative;
    width: 80%;
    margin: 10% auto;
    /* margin-top: 5%; */
    height: 90%;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombre légère */
}

/* Style de la navigation */
.lightbox-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color: var(--white-color);
    /* background-color: rgba(0, 0, 0, 0.5); */
    cursor: pointer;
}

.lightbox-navigation-left {
    left: 20px;
}

.lightbox-navigation-right {
    right: 20px;
}

.fa-angle-right, .fa-angle-left{
    color: var(--primary-bg-color);
    font-size: 50px;
}

/* Style de la flèche */
.lightbox-arrow {
    display: inline-block;
}

/* Style de la média */
.lightbox-media-container {
    text-align: center;
    height: 100%;
}

.lightbox-media {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 99%;
    margin: auto;
    display: block;
    border-radius: 5px;
    object-fit: contain;
}

.lightbox-title {
    display: flex;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-top: -20px;
}

.wrapper__media--video {
    border-radius: 5px;
    object-fit: contain;
    width: 90%;
    height: 100%;
}


/* Style de la fermeture */

.lightbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 200;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.1s;
}

.lightbox-close .fa-xmark:hover  {
    color: var(--secondary-bg-color);
}

.fa-xmark {
    color: var(--primary-bg-color);
    font-size: 50px;
}


/* Style de survol pour la fermeture */
.lightbox-close:hover {
    color: var(--secondary-bg-color);
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}