@import url("photographer.css");
@import url("carrousel.css");


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-bg-color);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.fixed {
    background-color: var(--secondary-bg-color);
    padding: 10px;
    width: 450px;
    height: 60px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 1000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wrapper__fixed {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.wrapper__fixed--like, .wrapper__fixed--price {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: var(--third-bg-color);
    font-size: 36px;
    height: 10px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.wrapper__photographers--link {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.wrapper__photographers--img {
    border-radius: 50%;
    object-fit: cover;
}

.wrapper__photographers--second-title {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.93px;
    text-align: center;
    color: var(--third-bg-color);
    height: 2px;
    margin-top: 5px;
}

.wrapper__photographers--content {
    font-family: DM Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.02px;
    text-align: center;
    height: 0;
    margin-top: 5px;
}

.wrapper__photographers--span {
    font-family: DM Sans;
    font-size: 9px;
    font-weight: 400;
    line-height: 11.72px;
    text-align: center;
    height: 0;
    margin-top: 5px;
}

.wrapper__media--content--title {
    font-size:20px;
}

.wrapper__media--content--like-icon {
    font-size: 29px;
    color: var(--primary-bg-color);
}